body{
    background-color: lightgray;
    text-align: center;
}

h1{
    color: rgb(53, 46, 100);
}
h2{
    color: rgb(29, 57, 85);
}
img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}