body{
    background-color: lightgray;
    text-align: center;
}

h1{
    color: rgb(214, 38, 47);
}
h2{
    color: rgb(29, 57, 85);
}
img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}